<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>de.heikowitte.LaunchBar.action.GetPublicIPAddress</string>
	<key>CFBundleName</key>
	<string>Get public IP address</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LBDescription</key>
	<dict>
		<key>LBAuthor</key>
		<string>Heiko Witte</string>
		<key>LBEmail</key>
		<string>heikowitte82@icloud.com</string>
		<key>LBSummary</key>
		<string>Gets your public IP address</string>
		<key>LBTwitter</key>
		<string>@heikowitte</string>
	</dict>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBKeepWindowActive</key>
			<true/>
			<key>LBResultType</key>
			<string>unknown</string>
			<key>LBReturnsResult</key>
			<true/>
			<key>LBScriptName</key>
			<string>default.py</string>
		</dict>
	</dict>
</dict>
</plist>
