<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>22B725F3-E203-4DAE-B0A1-3030FE350A2D.png</string>
	<key>CFBundleIdentifier</key>
	<string>com.blahgeek.LaunchBar.action.ChineseNumber</string>
	<key>CFBundleName</key>
	<string>Chinese Number</string>
	<key>LBDescription</key>
	<dict>
		<key>LBAuthor</key>
		<string>BlahGeek</string>
		<key>LBEmail</key>
		<string>i@blahgeek.com</string>
		<key>LBTwitter</key>
		<string></string>
		<key>LBWebsite</key>
		<string>blog.blahgeek.com</string>
	</dict>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBAcceptedArgumentTypes</key>
			<array>
				<string>string</string>
			</array>
			<key>LBKeepWindowActive</key>
			<true/>
			<key>LBLiveFeedbackEnabled</key>
			<true/>
			<key>LBRequiresArgument</key>
			<true/>
			<key>LBResultType</key>
			<string>string</string>
			<key>LBReturnsResult</key>
			<true/>
			<key>LBScriptName</key>
			<string>default.py</string>
		</dict>
	</dict>
</dict>
</plist>
