<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>URL.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.renaghan.launchbar.ExpandURL</string>
	<key>CFBundleName</key>
	<string>Expand URL</string>
	<key>CFBundleVersion</key>
	<string>3.1</string>
	<key>LBArgument</key>
	<string>URL to expand</string>
	<key>LBDescription</key>
	<dict>
		<key>LBArgument</key>
		<string>URL to expand</string>
		<key>LBAuthor</key>
		<string>Padraic Renaghan</string>
		<key>LBEmail</key>
		<string>prenagha@renaghan.com</string>
		<key>LBRequirements</key>
		<string>curl</string>
		<key>LBSummary</key>
		<string>Expand a short URL. Follows the URL and returns the last Location HTTP header which will point to the real URL. Returns URL back to LaunchBar.</string>
		<key>LBTwitter</key>
		<string>@prenagha</string>
		<key>LBWebsiteURL</key>
		<string>https://prenagha.github.io/launchbar/expand.html</string>
	</dict>
	<key>LBRequirements</key>
	<string>curl</string>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBAcceptedArgumentTypes</key>
			<array>
				<string>string</string>
			</array>
			<key>LBKeepWindowActive</key>
			<true/>
			<key>LBResultType</key>
			<string>unknown</string>
			<key>LBReturnsResult</key>
			<true/>
			<key>LBScriptName</key>
			<string>expand.js</string>
		</dict>
	</dict>
	<key>LBTextInputTitle</key>
	<string>URL</string>
</dict>
</plist>
